{% extends 'layouts/main.html' %}
{% block title %}New Venue{% endblock %}
{% block content %}
<div class="form-wrapper">
  <form method="post" class="form">
    <h3 class="form-heading">List a new venue <a href="{{ url_for('index') }}" title="Back to homepage"><i
          class="fa fa-home pull-right"></i></a></h3>
    <div class="form-group">
      <label for="name">Name</label>
      {{ form.name(class_ = 'form-control', autofocus = true) }}
    </div>
    <div class="form-group">
      <label>City & State</label>
      <div class="form-inline">
        <div class="form-group">
          {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true) }}
        </div>
        <div class="form-group">
          {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true) }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      {{ form.address(class_ = 'form-control', autofocus = true) }}
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true) }}
    </div>
    <div class="form-group">
      <label for="genres">Genres</label>
      <small>Ctrl+Click to select multiple</small>
      {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas', autofocus = true) }}
    </div>
    <div class="form-group">
      <label for="facebook_link">Facebook Link</label>
      {{ form.facebook_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
    </div>
    <div class="form-group">
      <label for="image_link">Image Link</label>
      {{ form.image_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
    </div>
    <div class="form-group">
      <label for="website_link">Website</label>
      {{ form.website_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
    </div>
    <div class="form-group seeking-checkbox" style="display: flex;">
      {{ form.seeking_checkbox(class_ = 'control checkbox', id = 'checkbox', autofocus = true) }}
      <label style="margin-inline-start: 8px;" for="seeking_checkbox">Seeking Talent</label>
    </div>


    <div id="seeking-form" class="form-group" style="display: none;">
      <label for="seeking_description">Please Describe Who You Are Looking For</label>
      {{ form.seeking_description(class_ = 'form-control', id= 'seeking-description-input', autofocus = true) }}
    </div>
    


    <input type="submit" value="Create Venue" class="btn btn-primary btn-lg btn-block">
  </form>
  <script>
    const checkbox = document.getElementById("checkbox");
    const seeking_description = document.getElementById("seeking-form");
    const seeking_description_input = document.getElementById("seeking-description-input");
    console.log(checkbox);
    console.log(seeking_description);
    checkbox.addEventListener('click', function () {
      console.log('Pressed')
      if (this.checked) {
        seeking_description.style.display = 'block';
        console.log("checked")
        seeking_description_input.required = true;

      } else {
        seeking_description.style.display = 'none';
        console.log("unchecked")
        seeking_description_input.required = false;
      }
    })

  </script>
</div>
{% endblock %}